html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  overflow: hidden;
}

ul, li {
  list-style: none;
}

input {
  display: block;
}
//Global style
.container{
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

// LOGIN
.login {
  overflow: hidden;
  &__inner {
    z-index: 5;
    text-align: center;
    margin: calc(100vh/2 - 100px) auto;
  }
  &--form {
    display: flex;
    justify-content: center;
  }
}


