html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  overflow: hidden;
}

ul, li {
  list-style: none;
}

a {
  display: block;
}

img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  display: block;
}

button {
  &:disabled {
    color: #898989;
  }
}

//Global style
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.width {
  max-width: 1200px;
  width: 100%;
}

.error {
  &-message{
    border: 1px solid #f00;
    border-radius: 0 15px 0 0;
  }
}

// LOGIN
.login {
  overflow: hidden;

  &__inner {
    text-align: center;
    margin: calc(100vh / 2 - 100px) auto;
  }

  &--form {
    display: flex;
    justify-content: center;
  }
}

// APP
.app {
  height: 100vh;
  display: flex;

  &__sidebar {
    width: 15%;
  }

  &__main {
    width: 85%;
  }
}

//Dialog
.dialog {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.75);

  &__user {
    &-avatar img {
      border-radius: 50%;
      width: 30px;
      height: 30px;
    }

    &-name {
      font-size: 18px;
    }

    &-message {
      font-size: 14px;
    }
  }
}

// Sidebar
.sidebar {
  display: flex;
}

// Body
.body {
  position: relative;
  height: 100vh;
}

.header {
  height: 10vh;
}

.main {
  height: 80vh;
  position: relative;

  &__messages {
    position: absolute;
    bottom: 0;
  }

  &__message {
    display: flex;
    align-items: center;
    margin: 7px 0;

    &-avatar img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }

    &-text {
      border: 1px solid #c9c9c9;
      padding: 5px 7px;
      margin-left: 10px;
      border-radius: 0 15px 0;
    }
    &-time{
      font-size: 12px;
      margin-left: 5px;
      color: #898989;
    }
  }
}

.message_of_me {
  position: absolute;
  right: 0;
}

.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;

  &__add {
    & button{
      background-color: transparent;
      padding: 5px 9px;
      outline: none;
      margin-right: 10px;
      border-radius: 2px;
    }
  }

  &__message {
    display: flex;
    align-items: center;
    & input {
      padding: 5px 9px;
      width: 900px;
      border-right: none;
      outline: none;
    }
    & button {
      padding: 5px 9px;
      border-left: none;
      outline: none;
      border-radius: 0 15px 0 0;
    }
  }
}