@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

html,
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  font-family: 'Balsamiq Sans';
}

ul, li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: #000;
}

img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

input {
  display: block;
}

button {
  &:disabled {
    color: #898989;
  }
}

//Global style
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.width {
  max-width: 1200px;
  width: 100%;
}

.error {
  &-message {
    border: 1px solid #f00;
    border-radius: 0 15px 0 0;
  }
}

.display-none {
  display: none;
}

.avatar {
  & img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

// LOGIN
.login {
  overflow: hidden;
  background-image: url(https://img0.liveinternet.ru/images/attach/d/0/140/736/140736382_f402a212c8ffca9e169dbf5e356295c6.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;


  &__inner {
    text-align: center;
    margin: calc(100vh / 2 - 100px) auto;

  }

  &__title {
    font-size: 26px;
    margin: 0 0 16px 0;
  }

  &--form {
    display: flex;
    justify-content: center;

    & input {
      padding: 6px 16px;
      margin: 0 0 14px 0;
      border: 1px solid #000;
    }

    & button {
      background-color: #c7eef1;
      padding: 6px 8px;
      border-radius: 6px;
      border: 1px solid #000;

      &:hover {
        cursor: pointer;
      }
    }
  }

}

// APP
.app {
  height: 100vh;
  display: flex;

  &__sidebar {
    width: 15%;
    background-color: #dcf1fd;
  }

  &__main {
    width: 85%;
    background-color: #fff;
  }
}

//Dialog
.dialog {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.75);

  &__user {
    &-avatar {

    }

    &-name {
      font-size: 18px;
    }

    &-message {
      font-size: 14px;
    }
  }
}

// Sidebar
.sidebar {
  display: flex;
  height: 100vh;

  &__link {
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;

    & a {
      border: 1px solid transparent;
      border-radius: 5px 0;
      padding: 3px 5px;
      margin-bottom: 10px;
      transition: all .3s ease-out;
    }

    & a:hover {
      border: 1px solid #df93ff;
      background-color: #dcfdee;
    }
  }
}

// Body
.body {
  position: relative;
  height: 100vh;
  background-image: url(./assets/image/mainbg.png);
  background-size: auto;
  background-repeat: repeat;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  background-color: rgba(216, 178, 255, 0.9);
  padding: 0px 10px;
  border-bottom: 2px solid #fff;

  &__container {
    max-width: 1020px;
    width: 100%;
  }

  &__user {
    margin-left: 30px;

    &-name {
      font-size: 20px;
    }

    &-status {
      font-size: 14px;
      color: #474747;
      font-weight: 700;
      &.online {
        color: #063d01;
        transition: color .3s ease-in-out;
        &:hover {
          color: #1f0;
        }
      }

      &.offline {
        color: #4c0101;
        transition: color .3s ease-in-out;
        &:hover {
          color: #f00;
        }
      }
    }
  }
}

.main {
  height: 80vh;

  &__container {
    overflow: auto;
    position: relative;
    max-width: 1020px;
    width: 100%;
    height: 100%;
    background-color: rgba(199, 236, 255, 0.75);
  }

  &__messages {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &__message {
    display: flex;
    align-items: center;
    margin: 7px 0;

    &-avatar {
      margin-left: 10px;
    }

    &-text {
      background-color: #fff;
      border: 1px solid #c9c9c9;
      padding: 5px 7px;
      margin-left: 10px;
      max-width: 400px;
      border-radius: 0 15px 0;
      padding: 5px 7px;
      & img {
        max-height: 300px;
        overflow: hidden;
        border-radius: 5px;
      }
    }

    &-time {
      font-size: 12px;
      margin-left: 5px;
      color: #7f7f7f;
    }
  }
}

.message_of_me {
  position: absolute;
  right: 0;
}

.footer {
  height: 10vh;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;

  &__add {
    & input {
      display: none;
    }
    & label {
      background-color: rgba(3, 255, 146, 0.8);
      padding: 5px 10px;
      outline: none;
      margin-right: 10px;
      border-radius: 6px;
      cursor: pointer;
    }
  }

  &__message {
    display: flex;
    align-items: center;

    & input {
      padding: 5px 10px;
      width: 900px;
      border-right: none;
      outline: none;
      border-radius: 6px 0 0;
    }

    & button {
      padding: 5px 9px;
      border-left: none;
      outline: none;
      border-radius: 0 15px 0 0;
    }
  }
}

// GlobalMessage
.globalMessage {
  z-index: 50;
  background-color: #fff;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 3px;

  &-ok {
    border: 2px solid #1f0;
  }

  &-err {
    border: 2px solid #f00;
  }
}
